<li>
    {{burger_name}}

    {{#if devoured}}
    <button class="change-devoured btn btn-primary" data-id="{{id}}" data-newDevoured="{{devoured}}">
        DEVOUR!
    </button>

    {{else}}
    <button class="delete-burger btn btn-danger" data-id="{{this.id}}">DELETE!</button>
    {{/if}}
</li>